.App {
  display: flex;
  flex-direction: column;
  background: #fbfbfb 0% 0% no-repeat padding-box;
  font-family: "Cairo";
}
.blackColor {
  color: #141433;
}

.blueColor {
  color: #2681c1;
}

.greyColor {
  color: #9e9eac;
}
